<!DOCTYPE configuration>
<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%cyan(%d{HH:mm:ss.SSS}) %gray([%thread]) %highlight(%-5level) %magenta(%logger{36}) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org" level="ERROR"/>
    <logger name="io" level="ERROR"/>
    <logger name="_org" level="ERROR"/>
    <logger name="reactor" level="ERROR"/>


    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>